/*!
 *  build: vue-admin-beautiful 
 *  vue-admin-beautiful author: chuzhixin 1204505056@qq.com 
 *  vue-admin-beautiful QQ Group(QQ群): 972435319、1139183756 
 *  time: 2022-1-21 16:12:28
 */.dialogCus{max-height:60vh!important;overflow:auto}[data-v-2c290c15]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34}.vab-query-form[data-v-2c290c15]{margin-bottom:20px}.el-input[data-v-2c290c15]{width:200px}.el-input .el-input__inner[data-v-2c290c15]{padding-right:15px!important}.marginbtm[data-v-2c290c15]{margin-bottom:15px}.el-icon-warning[data-v-2c290c15]{color:#e6a23c}.oneLine[data-v-2c290c15]{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}