/*!
 *  build: vue-admin-beautiful 
 *  vue-admin-beautiful author: chuzhixin 1204505056@qq.com 
 *  vue-admin-beautiful QQ Group(QQ群): 972435319、1139183756 
 *  time: 2022-1-21 16:12:28
 */.dialogCus{max-height:60vh!important;overflow:auto}.radioCus .el-radio{margin-top:5px;margin-bottom:8px}[data-v-6425052d]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34}.vab-query-form[data-v-6425052d]{margin-bottom:20px}.el-input[data-v-6425052d]{width:200px}.el-input .el-input__inner[data-v-6425052d]{padding-right:15px!important}.marginbtm[data-v-6425052d]{margin-bottom:15px}.el-icon-warning[data-v-6425052d]{color:#e6a23c}