/*!
 *  build: vue-admin-beautiful 
 *  vue-admin-beautiful author: chuzhixin 1204505056@qq.com 
 *  vue-admin-beautiful QQ Group(QQ群): 972435319、1139183756 
 *  time: 2022-1-21 16:12:28
 */[data-v-71bb4432]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34}.menu-container[data-v-71bb4432]{position:absolute;top:120px;left:50%;transform:translateX(-50%);min-width:1080px}.menu-container .el-card[data-v-71bb4432]{margin-bottom:30px}.icon-panel[data-v-71bb4432]{height:126px;text-align:center;cursor:pointer}.icon-panel svg[data-v-71bb4432]{font-size:40px}.icon-panel p[data-v-71bb4432]{margin-top:20px;margin-bottom:10px}